# Prerequisites
*.d
.vscode
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# macOS system files
*.DS_Store
*.AppleDouble
*._*
*.Spotlight-V100
*.Trashes
Icon\r\n
*.yml
*.dSYM

# Windows thumbnails and metadata (sometimes generated when sharing)
Thumbs.db
ehthumbs.db
Desktop.ini


.vscode/
.vscode/tasks.json
